<div>
  <h2>Log in</h2>
</div>

<%= form_tag "/sessions" do %>

  <div>
    <%= label_tag :email, "Enter Username or Email" %>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <div>
      <%= submit_tag "Log in", :class => "btn btn-default" %>
    </div>
  </div>

<% end %>

