<%= form_tag "/favorites" do %>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<label>#1 Restaurant</label>
				<select name="first">
					<% 	@lists.each do |list| %> 
						<option value="<%= list.restaurant_id %>"><%= list.restaurant.name %></option>
					<% end %>
				</select>
			</div>

			<div class="col-md-4">
				<label>#2 Restaurant</label>
				<select name="second">
					<% 	@lists.each do |list| %> 
						<option value="<%= list.restaurant_id %>"><%= list.restaurant.name %></option>
					<% end %>
				</select>
			</div>

			<div class="col-md-4">
				<label>#3 Restaurant</label>
				<select name="third">
					<% 	@lists.each do |list| %> 
						<option value="<%= list.restaurant_id %>"><%= list.restaurant.name %></option>
					<% end %>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<input type="submit" value="Set Your Top Three" style="margin: auto">
			</div>
		</div>
	</div>

<% end %>