<h1><span id= "restaurant-header">Browse All Restaurants</span>
	<% if session[:user_id] %>
  	<small>
    	<a class="btn btn-success pull-right" href="/restaurants/new">Add a new restaurant</a>
  	</small>
  <% end %>
</h1>

<p>This is a list of all restaurants currently available on FoodEase</p>

<table class='table table-striped'>
	<thead>
		<tr>
			<th width="30%">Name</th>
			<th>Category</th>
			<th>Neighborhood</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		<% @restaurants.order('name').each do |restaurant| %>
			<tr>

				<td>
					<%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %>
				</td>

				<td>
					<%= restaurant.category.name %>
				</td>

				<td>
					<%= restaurant.neighborhood.name %>
				</td>

				<td>
					<%= restaurant.rating%>
				</td>

				<td><%= link_to "Delete", "/restaurants/#{restaurant.id}", :method => "delete" %> </td>

				<td><%= link_to "Edit", "/restaurants/#{restaurant.id}/edit" %></td>

				<% if session[:user_id] %>
					<td>
						<%= button_to "Add to Your List", lists_path, params: {:restaurant_id => restaurant.id}, 
						:class => "btn btn-primary btn-xs" %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
