<div class="restaurant">
  <h2><%= @restaurant.name %>
    <span class="rating"><%= @restaurant.rating %></span>
  </h2>
  <h5><%= @restaurant.category.name %></h5>
  <h5><%= @restaurant.neighborhood.name %></h5>
  <h5><%= @restaurant.address %></h5>

  <%= image_tag @restaurant.image_url, :height => '300', :style=>"margin-bottom: 5px" %>

</div>

<% favs = @restaurant.userfavorites %> 

<div class="container">
	<div class="row">
	  <div class="col-md-5">
			<div class="followed-users-box" style="text-align: center">
				<h4 style="text-align: center">Users with this restaurant in their Top 3</h4>
				<% if favs.count == 0 %>
					No one yet.
				<% end %>
				<% favs.each do |fav| %>
				  <% if fav.number == 1 %>
						<%= link_to fav.user.username, "/wall/#{fav.user.id}", 
						:class =>"btn btn-info", :style=>"margin: 2px; margin-bottom:4px; 
						display: inline-block; background-color: #F0C714; border: 1px solid black"%>
					<% elsif fav.number == 2 %>
						<%= link_to fav.user.username, "/wall/#{fav.user.id}", 
						:class =>"btn btn-info", :style=>"margin: 2px; margin-bottom:4px; 
						display: inline-block; background-color: #C0C0C0; border: 1px solid black"%>
					<% else %>
						<%= link_to fav.user.username, "/wall/#{fav.user.id}", 
						:class =>"btn btn-info", :style=>"margin: 2px; margin-bottom:4px; 
						display: inline-block; background-color: #CD7F32; border: 1px solid black"%>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="col-md-2" style="text-align: center; margin-top: 10px">
			<%if session[:user_id] %>
				<%= button_to "Add to Your Wall", lists_path, params: {:restaurant_id => @restaurant.id}, 
				:class => "btn btn-primary" %>
			<% end %>
		</div>

	  <div class="col-md-5">
			<div class="followed-users-box" style="text-align: center">
				<h4 style="text-align: center">Users that posted this restaurant to their wall</h4>
				<% @restaurant.users.each do |user| %>
					<%= link_to user.username, "/wall/#{user.id}", 
					:class =>"btn btn-info", :style=>"margin: 2px; margin-bottom:4px; display: inline-block"%>
				<% end %>
			</div>
		</div>
	</div>

	<% connected_restaurants = List.where(:user_id => @restaurant.users) %>

	<% connected_restaurants = connected_restaurants.where.not(:restaurant_id => @restaurant.id) %>

	<%top = connected_restaurants.group('restaurant_id').order('count_restaurant_id DESC').limit(9).count('restaurant_id').to_a%>


	<% top.in_groups_of(3, false) do |top_rows| %>
			<div class="row">
				<% for t in top_rows %>
					<% top_res = Restaurant.find(t.first) %>
					<div class="col-md-4" style="padding: 5px">
						<div class="square-list-element" style="text-align: center">
							<div class="row">
								<div class="col-md-3 col-md-12">
									<span><%= image_tag top_res.image_url, :class => "square-list-thumbnail" %></span>
								</div>

								<div class="col-md-7 col-md-12">
									<% if top_res.name.length > 15 %>
										<ul class="wall2" style="text-align: center; width:100%">
											<li><%= link_to top_res.name, "/restaurants/#{top_res.id}", 
												:class => "list-link" %>
											</li>
											<li><%= top_res.category.name %></li>
											<li><%= top_res.neighborhood.name %></li>
										</ul>
									<% else %>
										<ul class="wall" style="text-align: center">
											<li><%= link_to top_res.name, "/restaurants/#{top_res.id}", 
												:class => "list-link" %>
											</li>
											<li><%= top_res.category.name %></li>
											<li><%= top_res.neighborhood.name %></li>
										</ul>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
	<% end %>
</div>




